<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
		<!--  动态调试编译  
          设置 compilation debug="true" 以启用 ASPX 调试。否则，将此值设置为
          false 将提高此应用程序的运行时性能。
          设置 compilation debug="true" 以将调试符号（.pdb 信息）
          插入到编译页中。因为这将创建执行起来
          较慢的大文件，所以应该只在调试时将该值设置为 true，而在所有 其他时候都设置为    
          false。有关更多信息，请参考有关  
          调试 ASP.NET 文件的文档。
        -->
		<compilation defaultLanguage="c#" debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="Microsoft.Office.Interop.Owc11, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
				<add assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		<!--  自定义错误信息
          设置 customError 模式值可以控制应向
          用户显示用户友好错误信息而不是错误详细信息（包括堆栈跟踪信息）：
          “On”始终显示自定义（友好的）信息“Off”始终显示详细的 ASP.NET 错误信息。         
          “RemoteOnly”只对不在本地 Web 服务器上运行的
          用户显示自定义（友好的）信息。出于安全目的，建议使用此设置，以便      
          不向远程客户端显示应用程序的详细信息。
    -->
		<customErrors mode="Off"/>
		<!--  身份验证 
          此节设置应用程序的身份验证策略。可能的模式是“Windows”、“Forms”、   
          “Passport”和“None”      
    -->
		<authentication mode="None"/>
		<!--  应用程序级别跟踪记录  
          应用程序级别跟踪在应用程序内为每一页启用跟踪日志输出。
          设置 trace enabled="true" 以启用应用程序跟踪记录。如果 pageOutput="true"，则
          跟踪信息将显示在每一页的底部。否则，可以通过从 Web 应用程序  
          根浏览 "trace.axd" 页来查看
          应用程序跟踪日志。
        -->
		<trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
		<!--  会话状态设置
          默认情况下，ASP.NET 使用 cookie 标识哪些请求属于特定的会话。
          如果 cookie 不可用，则可以通过将会话标识符添加到 URL 来跟踪会话。
         若要禁用 cookie，请设置 sessionState cookieless="true"。
    -->
        <sessionState mode="InProc" stateConnectionString='tcpip=127.0.0.1:42424'  cookieless="false"
                      sqlConnectionString='data source=127.0.0.1; uid=sa;pwd=jiaozi;Trusted_Connection=yes' timeout='60'/>
		<!--  全球化
          此节设置应用程序的全球化设置.
        -->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<xhtmlConformance mode="Legacy"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
	<appSettings>
		<add key="IsDebug" value="0"/>
		<add key="SysLanguage" value="CH"/>
		<add key="SysNo" value="CCPortal"/>
		<add key="SysName" value="驰骋权限管理系统"/>
    <!-- 是否允许部门名称重复，0允许，1不允许-->
    <add key="RepeatDeptName" value="1"/>
		<add key="InitConnNum" value="10"/>
 
    <!-- 数据链接串-->
    <add key="AppCenterDSN" value="Password=ccflow;Persist Security Info=True;User ID=sa;Initial Catalog=ccflow;Data Source=.;Timeout=2"/>
    <!-- 数据类型： MSSQL, Oracle, Informix ,MySQL-->
    <add key="AppCenterDBType" value="MSSQL"/>
    <!--<add key="AppCenterDSN" value="Database=jylinkoa;Data Source=192.168.12.180;User Id=root;Password=123456;port=3306"/>-->
    <!--<add key="AppCenterDBType" value="MySQL" />-->
    
		<add key="DeveloperName" value="chichengsoft"/>
		<add key="DeveloperShortName" value="chichengsoft"/>
		<add key="DeveloperTel" value="0531-82374939"/>
		<add key="DeveloperAddr" value="chichengsoft"/>
		<add key="DeveloperMail" value=""/>
		<add key="ServiceMail" value="ccflow@ccflow.org"/>
		<add key="ServiceTel" value="0531-82374939"/>
		<add key="CustomerNo" value="GPM"/>
		<add key="CustomerName" value="chichengsoft"/>
		<add key="CustomerShortName" value="chichengsoft"/>
		<add key="CustomerTel" value="TEL:82374939"/>
		<add key="CustomerAddr" value="chichengsoft"/>
		<add key="TopNum" value="99999"/>
		<add key="PageSize" value="15"/>
		<add key="CIP" value="127.0.0.1"/>
	</appSettings>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE /w:1">
					<providerOption name="CompilerVersion" value="v4.0"/></compiler>
		</compilers></system.codedom>
	<system.webServer>
	</system.webServer>
</configuration>
