.icon-0{
	background:url('icons/home.png') no-repeat center center;
}
.icon-1{
	background:url('icons/xitongleibie.png') no-repeat center center;
}
.icon-2{
	background:url('icons/xitong.png') no-repeat center center;
}
.icon-mulu{
	background:url('icons/mulu.png') no-repeat;
}
.icon-4{
	background:url('icons/gongneng.gif') no-repeat center center;
}
.icon-5{
	background:url('icons/kongzhidian.png') no-repeat center center;
}
.icon-addfolder{
	background:url('icons/addfolder.gif') no-repeat center center;
}
.icon-addfile{
	background:url('icons/addfile.gif') no-repeat center center;
}
.icon-new{
	background:url('icons/new.png') no-repeat;
}
.icon-add{
	background:url('icons/add.gif') no-repeat center center;
}
.icon-config{
	background:url('icons/config.gif') no-repeat;
}
.icon-up{
	background:url('icons/up.gif') no-repeat;
}
.icon-down{
	background:url('icons/down.gif') no-repeat;
}
.icon-delete{
	background:url('icons/delete.gif') no-repeat;
}
.icon-rights{
	background:url('icons/rights.gif') no-repeat center center;
}
.icon-blank{
	background:url('icons/blank.gif') no-repeat center center;
}
.icon-add{
	background:url('icons/edit_add.png') no-repeat;
}
.icon-edit{
	background:url('icons/pencil.png') no-repeat;
}
.icon-person{
	background:url('icons/person.png') no-repeat center center;
}
.icon-tree_folder{
	background:url('icons/tree_folder.gif') no-repeat center center;
}
.icon-remove{
	background:url('icons/edit_remove.png') no-repeat;
}
.icon-save{
	background:url('icons/filesave.png') no-repeat;
}
.icon-save-close{
	background:url('icons/save_close.png') no-repeat;
}
.icon-cut{
	background:url('icons/cut.png') no-repeat;
}
.icon-ok{
	background:url('icons/ok.png') no-repeat;
}
.icon-no{
	background:url('icons/no.png') no-repeat;
}
.icon-cancel{
	background:url('icons/cancel.png') no-repeat;
}
.icon-reload{
	background:url('icons/reload.png') no-repeat;
}
.icon-search{
	background:url('icons/search.png') no-repeat;
}
.icon-print{
	background:url('icons/print.png') no-repeat;
}
.icon-help{
	background:url('icons/help.png') no-repeat;
}
.icon-undo{
	background:url('icons/undo.png') no-repeat;
}
.icon-delete{
    background:url('icons/delete.png') no-repeat;
}
.icon-reset
{
    background:url('icons/reset.png') no-repeat;
}
.icon-user
{
    background:url('icons/user.png') no-repeat;
}
.icon-department
{
    background:url('icons/department.png') no-repeat;
}
.icon-redo{
	background:url('icons/redo.png') no-repeat;
}
.icon-back{
	background:url('icons/back.png') no-repeat;
}
.icon-sum{
	background:url('icons/sum.png') no-repeat;
}
.icon-tip{
	background:url('icons/tip.png') no-repeat;
}
.icon-seasons{
	background:url('icons/seasons.png') no-repeat center center;
}
.icon-mini-add{
	background:url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit{
	background:url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh{
	background:url('icons/mini_refresh.png') no-repeat 3px 2px;
}
.form1{
	background:url('icons/form1.png') no-repeat;
}
.icon-excel{
	background:url('icons/excel.gif') no-repeat;
}
.icon-left{
	background:url('icons/left.png') no-repeat;
}
.icon-right{
	background:url('icons/right.png') no-repeat;
}
.icon-table{
	background:url('icons/table.png') no-repeat;
}
.icon-columnchart{
	background:url('icons/columnchart.png') no-repeat;
}
.icon-linechart{
	background:url('icons/linechart.png') no-repeat;
}
.icon-piechart{
	background:url('icons/piechart.png') no-repeat;
}
.icon-auto{
	background:url('icons/auto.png') no-repeat;
}
.icon-manual{
	background:url('icons/manual.png') no-repeat;
}
.icon-add2{
	background:url('icons/add2.png') no-repeat;
}
.icon-delete2{
	background:url('icons/delete2.png') no-repeat;
}
.icon-insert{
	background:url('icons/insert.png') no-repeat;
}
.icon-sheet{
	background:url('icons/sheet.png') no-repeat;
}
.icon-seal{
	background:url('icons/seal.png') no-repeat;
}
.icon-accept{
	background:url('icons/accept.png') no-repeat;
}
.icon-refuse{
	background:url('icons/refuse.png') no-repeat;
}
.icon-open{
	background:url('icons/open.png') no-repeat;
}
.icon-picture{
	background:url('icons/picture.png') no-repeat;
}
.icon-flow{
	background:url('icons/flow.png') no-repeat;
}
.icon-download{
	background:url('icons/download.png') no-repeat;
}
#pageloading
{
    position: absolute;
    left: 0px;
    top: 0px;
    background: white url('icons/loading.gif') no-repeat center;
    width: 100%;
    height: 100%;
    z-index: 99999;
    filter: Alpha(Opacity=50);
}