<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SendEmailHost" value="mail.nak-mci.ir" />
    <add key="SendEmailPort" value="25" />
    <add key="SendEmailAddress" value="nmp@nak-mci.ir" />
    <add key="SendEmailPass" value="NmpAdmin" />
  </appSettings>
</configuration>