<?xml version="1.0" encoding="UTF-8"?>
<!--
   For information about how to configure  ASP.NET  Details messaging applications , Visit 
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <identity impersonate="false" userName="administrator" password="ccflow" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Office.Interop.Owc11, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.Web.UI.WebControls, Version=1.0.2.226, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet" />
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <globalization requestEncoding="UTF-8" responseEncoding="UTF-8" />
    <httpHandlers>
      <add path="scissors.axd" verb="*" type="BitmapCutter.Core.HttpHandler.BitmapScissors,BitmapCutter.Core" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
    </httpHandlers>
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
         assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--
      If you use  ccform　 Rich text edit box , Would start the following two settings ．
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    -->
    <httpRuntime maxRequestLength="2147483647" executionTimeout="36000" />

<customErrors mode="Off"/>
  </system.web>
  <appSettings>
    <!--  Auxiliary administrator  -->
    <add key="adminers" value="admin,zhoupeng," />
    <!-- CCIM The database location by scheduling system to write messages CCIM.  In case CCIM With ccFlow Integrated , On configuration ccflow Where the database name ,
     In case CCIM With CCPort An integrated configuration CCPort Connected database . -->
    <add key="CCIMDBName" value="ccflow5.dbo" />
    <!--  Process control buttons position  @Top= Head @Bottom= Bottom  -->
    <add key="FlowCtrlBtnPos" value="Top" />
    <!--  User Information Display Format  @0=UserID,UserName@1=UserNo,@2=UserName -->
    <add key="UserInfoShowModel" value="0" />
    <!--  Organizational Model  @0= Integrated (WorkFlow) Embedded mode @1= Independent operation (BPM) Mode . -->
    <add key="OSModel" value="0" />
    <!--  Whether :debug Status . 0  Representation is not , 1 是, If the system is released , Please revise this 0, In order to improve the efficiency . -->
    <add key="IsDebug" value="1" />
    <!--  Whether it is a priority to increase the flow  -->
    <add key="IsEnablePRI" value="0" />
    <!--  Whether to enable shared task pool  -->
    <add key="IsEnableTaskPool" value="1" />
    <!--  Whether the draft enabled  -->
    <add key="IsEnableDraft" value="1" />
    <!--  Check whether the tree is empty logical form （ Used for testing , Mode 1） -->
    <add key="IsEnableCheckFrmTreeIsNull" value="0" />
    <!--  Whether the system is enabled  -->
    <add key="IsEnableZhiDu" value="0" />
    <!--  Whether null value type is enabled , In some working environments ,
     Numeric types of data if the user does not enter on default null, Also show display "", Rather than the default 0. If you want to enable the application of this environment you need to set 0, The default is 0. -->
    <add key="IsEnableNull" value="1" />
    <!--  You can turn on the type of document processing , Accessories for multi-processing document open control : doc,docx,pdf,  Note To Lowercase . -->
    <add key="OpenTypes" value="doc,docx,pdf" />
    <!--  Paging data size , The number displayed per page . -->
    <add key="PageSize" value="24" />
    <!--  Whether messaging enabled  -->
    <add key="IsEnableSysMessage" value="1" />
    <!--  Whether to enable the user to check the status of  -->
    <add key="IsEnableCheckUseSta" value="0" />
    <!--  Whether to start work opens a new window  0= In this window open ,1= Open in new window , 2= Open a window procedure  -->
    <add key="IsWinOpenStartWork" value="1" />
    <!--  Whether to open the work to be done to open a new window  -->
    <add key="IsWinOpenEmpWorks" value="1" />
    <!-- DataDirPath  System configuration file path  -->
    <add key="DataDirPath" value="WF" />
    <!--  Whether to display the user name and the node where the track , The default is 1. -->
    <add key="FlowDesignerIsShowUserNameInNode" value="1" />
    <!--  Whether to start with virtual node enabled , The default is 1. -->
    <add key="FlowDesignerIsEnableStartEndNode" value="1" />
    <!--  Server URL, For cs Process Services to obtain the url Information , To perform the process events  -->
    <add key="HostURL" value="http://127.0.0.1:50572/" />
    <!--  Is Group uses  -->
    <add key="IsUnit" value="1" />
    <!--  Rich text file upload location  -->
    <add key="RichTextBoxAttached" value="\\DataUser\\RichTextBoxAttached\\" />
    <!--  Process to design post :  If you do not set , Will consider only admin You can design process  -->
    <add key="FlowDesignerStation" value="00" />

    <!--  Modify the main department SQL, In the case of a person multisectoral , Business users need to specify the department handling their login status under the current .
     When handover is performed sector function , You need to perform a SQL, 把Port_Emp Information FK_Dept Set to the current sector ID.
     But also because at the integrated mode Port_Emp A view , So to update the underlying physical table view , Execution SQL We must configure here .
    -->
    <add key="UpdataMainDeptSQL" value="UPDATE Port_Emp SET FK_Dept=@FK_Dept WHERE No=@No"  />

    <!-- BaseUrl -->
    <add key="BaseUrl" value="http://localhost:50572"/>

    <!--  If the ccflow Deployed to the intranet , In use to silverlight时, No installation can not connect to MS On the Web site to download .
     This configuration solves including online download silverlight The problem .  -->
    <add key="SilverlightDownloadUrl" value="http://go.microsoft.com/fwlink/?LinkID=124807" />

    <!--  Database connection configuration :  AppCenterDBType Type Oracle,MSSQL,Informix,MySQL
          Watch out :  
         1, The database user must have a certain authority to create tables would otherwise an error .
         2, In the case of Informix Please note that the database would be the first to perform some sql Script .
     -->

    <add key="AppCenterDSN" value="user id=nmpflow2;data source=XE;password=0000;Max Pool Size=200" />
    <add key="AppCenterDBType" value="Oracle" />

    <!--  Database Connectivity  Demo  
      <add key="AppCenterDSN" value="Host=10.0.2.36;Service=8001;Server=niosserver; Database=nios_flow3; UId=npmuser; Password=npmoptr2012;Database locale=en_US.819;Client Locale=en_US.CP1252"/>
      <add key="AppCenterDBType" value="Informix"/>
    
      <add key="AppCenterDSN" value="Data Source=localhost;Persist Security info=True;Initial Catalog=ccflow;User ID=root;Password=jiaozi;"/>
      <add key="AppCenterDBType" value="MySQL"/>
 
      <add key="AppCenterDSN" value="Password=ccflow;Persist Security Info=True;User ID=sa;Initial Catalog=tongwang;Data Source=.;Timeout=999;MultipleActiveResultSets=true"/>
      <add key="AppCenterDBType" value="MSSQL"/>
  
      <add key="AppCenterDSN" value="user id=ccflow;data source=orcl;password=ccflow;Max Pool Size=200"/>
      <add key="AppCenterDBType" value="Oracle"/>
       -->


    <!--  Integrated CCPGM Configuration :  Access connection string , And database types .-->
    <add key="CCPortal.DSN" value="Password=ccflow;Persist Security Info=True;User ID=sa;Initial Catalog=TJccflow;Data Source=.;Timeout=2"/>
    <!--  Integrated CCPGM Configuration :  Data Types : MSSQL, Oracle, Informix ,MySQL( Now do not support )-->
    <add key="CCPortal.DBType" value="MSSQL" />
    <!--  Integrated CCPGM Configuration :  System Number : This number is to be with GPM The numbering system is consistent .-->
    <add key="CCPortal.AppNo" value="CCFlow" />

    <!--  Send e-mail settings , Services set for the process to send a message . -->
    <add key="SendEmailHost" value="smtp.gmail.com" />
    <add key="SendEmailPort" value="587" />
    <add key="SendEmailAddress" value="ccflow.cn@gmail.com" />
    <add key="SendEmailPass" value="ccflow123" />
    <!--  Whether to enable ssl  Encryption ?  Some mail servers do not require encryption , It is set to 0. -->
    <add key="SendEmailEnableSsl" value="1" />
    <!--  Default language  CH  Simplified Chinese , Please refer to enumerate other languages  -->
    <add key="SysLanguage" value="CH" />
    <!--  Number of initialization database cache server pools according to their performance , And the number of visitors to the needs of , Set the parameters , In order to improve the efficiency of concurrent access . -->
    <add key="InitConnNum" value="10" />
    <!--  System Number : Do not modify it . -->
    <add key="SysNo" value="CCFlow" />
    <add key="SysName" value=" NMP Workflow " />
    <!--  Customer Number : The number of the user to handle different requirements of individual customers . -->
    <add key="CustomerNo" value="ccflow" />
    <add key="CustomerName" value=" Gallop Software " />
    <!--  Each time the maximum number of rows of data taken ( Do not change ) -->
    <add key="TopNum" value="99999" />
    <!--  The default number of rows per page ( Not less than 5) -->
    <add key="PageSize" value="15" />
    <!-- Cluster IP:  For clustered effective  -->
    <add key="CIP" value="127.0.0.1" />

    <!-- Document ftp Server Configuration : If you do not use can be ignored . -->
    <add key="FtpIP" value="127.0.0.1" />
    <add key="FtpUser" value="administrator" />
    <add key="FtpPass" value="ccflow" />

    <!-- Information about the assessment set : Use the following configuration the system can obtain information on each node of aging , Non-working time can be excluded . -->
    <add key="AMFrom" value="08:30" />
    <add key="AMTo" value="11:30" />
    <add key="PMFrom" value="13:00" />
    <add key="PMTo" value="17:30" />
    <!--  Week break type : 0 Weekend ,1 Single break ,2 Endlessly -->
    <add key="WeekResetType" value="0" />
    <!--  Holiday Set -->
    <add key="Holiday" value="10-01,10-02,10-03,10-04,10-05,05-01,05-02" />
    <!-- Service Information :  When the program will display the information abnormal , Notify the administrator to facilitate handling . -->
    <add key="ServiceMail" value="ccflow@ccflow.org" />
    <add key="ServiceTel" value="0531-82374939" />
    <!--  Whether to display the title picture : In standalone mode for effective .  -->
    <add key="IsShowTitle" value="1" />
    <!--  Whether explicitly enable style : -->
    <add key="IsEnableStyle" value="1" />
    <!-- Whether the number of prompt process  -->
    <add key="IsShowFlowNum" value="1" />
    <!--  Whether to display the user ID : For English users effectively  -->
    <add key="ShowUserNoOnly" value="0" />
    <!-- Used to uniquely identify the user , Depending mainly used to display different user Logo-->
    <add key="CompanyID" value="CCFlow" />
    <!--FTP  Related -->
    <add key="FTPServerIP" value="ftp://ccflow.org" />
    <!-- 在FTP The only identification on , Best replaced by a company or individual English name ( Only ccflow的VIP Customer allowed )-->
    <add key="UserIdentifier" value="CCFlow" />
    <add key="About" value=" Jinan gallop IT company developed @2003-2013" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=~/DataUser/TempImageFiles/;" />
  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".xap" />
      <mimeMap fileExtension=".xap" mimeType="xapapplication/x-silverlight" />
    </staticContent>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
       path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>
